.App {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 70% 10%;
}


.App > header, .App > footer {
    grid-column: span 6;
}

.App > main {
    grid-column: span 6;
}


