.container {
    margin: 3%;
    font-size: large;
}

div {
    padding: 3px;
    border-radius: 15px;
}


.containerRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    gap: 5px;
}

.totalContainer{
    width: 70%;
    height: 100%;
    margin: auto;
}


 .StartOrStopAll> div{
    width: 40%;
    margin: auto;
    padding: 0px;
    border:1px solid black;
}